* {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans JP", sans-serif;
  font-feature-settings: 'palt';
}
.clearfix::after {
   content: "";
   display: block;
   clear: both;
}
html, body {
  background: #eee;
}
header {
  background: #333;
  margin: 0;
  padding: 10px 10px 15px;
  text-align: center;
  color: white;
}
header h1 {
  font-size: 1.5rem;
}
header h2 {
  font-size: 1.2rem;
}
.main {
  width: 960px;
  max-width: calc(100vw - 80px);
  background: white;
  padding: 20px 30px;
  margin: 0 auto;
  background: white;
}
.main ul.breadcrumb {
  margin: 0;
  padding: 10px;
}
.main ul.breadcrumb li {
  list-style: none;
  float: left;
}
.main ul.breadcrumb li a {
  display: inline;
  padding: 0;
}
.main ul.breadcrumb li:not(:last-child):after {
  display: inline;
  content: "/";
  padding: 0 5px;
}
.main h1 {
  padding: 10px;
}
.main h2 {
  padding: 10px;
}
p {
  padding: 3px 10px 30px;
}
ul, ol {
  margin: 0 20px 20px 50px;
}
li::after {
  content: "";
  display: block;
  clear: both;
}
li a {
  display: block;
  padding: 4px 10px;
  border-radius: 3px;
  text-decoration: none;
}
li a:hover {
  background: #eee;
}
li a.page-link {
  float: left;
  width: calc(100% - 100px);
}
li a.pdf-link {
  float: right;
  width: 65px;
  padding: 4px 5px;
  text-align: center;
}

footer {
  margin: 0;
  padding: 10px 20px 30px;
  text-align: center;
  border: 1px solid #ccc;
  border-width: 1px 0 0;
}
footer a {
  text-decoration: none;
  color: #333;
}
footer a small {
  display: block;
  padding: 10px;
}

dl.proceedings-meta {
  margin: 10px;
  border-bottom: 1px dotted #ccc;
}
dl.proceedings-meta dt {
  float: left;
  width: 150px;
  min-height: 20px;
  line-height: 20px;
  padding: 8px 0;
  font-weight: bold;
  border-top: 1px dotted #ccc;
}
dl.proceedings-meta dd {
  margin: 0 0 0 150px;
  padding: 8px 0;
  min-height: 20px;
  line-height: 20px;
  border-top: 1px dotted #ccc;
  word-break: break-all;
}